

.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: transparent !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.menu {
  width: 175px;
  height: 200px;
  display: flex;
  gap: 1rem;
  align-items: normal;
  color: var(--bg-color);
  font-family: var(--font-primary);
  align-self: center;
  justify-content: center; 
  flex-direction: column;
  left: 0px;
  transition: all 0.3s ease;
  background-color: rgb(49, 50, 49);
  position: absolute;
  top: 80px;
  z-index: -1;
  border-radius: 0px 5px 5px 0px;
 
}

.menu.hidden {
  transform: translateX(-100%);
}


.linkheader {
  display: inline-block;
  padding: 3px 10px;
  background: var(--btn-bg-color);
  color: var(--bg-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  border-radius: 3px;
  margin-right: 5px;
}

.linkheaderBurger {
  display: inline-block;
  padding: 3px 10px;
  background: var(--btn-bg-color);
  color: var(--bg-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  border-radius: 3px;
  margin: 1px;
  max-width: 80px;
}

.footer a:hover,
.linkheader:hover {
  box-shadow: 0 0 2px 2px var(--shadow-color);
  color: var(--btn-bg-color);
  background: var(--black-accent-color);
}

.nav {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  width: 98%;
  max-width: 1260px;
  background-color: transparent !important;
}

.navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  transition: all 0.15s ease-in-out;
}

.navMiddle {
  display: flex;
  margin-left: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 16px;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.homeLink:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navRight {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.profileImage {
  margin-top: 6px;
  transition: all 0.15s ease-in-out;
}

.profileImage:hover {
  cursor: pointer;
  opacity: 0.8;
}

.homeLink {
  font-size: 24px;
  font-weight: 500;
}

.buttonLink:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.navConnect {

align-self: center;
justify-self: center  ;
}


.burger_menu {
  height: 100%;
  width: 2em;
  gap: .6em;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 5px;
  padding: 7px;
  border-radius: 5px;
}

.burger_bar {
  width: 2em;
  height: .2em;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5em;
}



/* ------------- sliding menu ------------------ */

.visible {
  display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger_bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0.7em, .5em);
  transition: ease-out 0.5s;
}

.burger_bar.clicked:nth-child(2){
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger_bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(-0.6em, .5em);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger_bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
/* Screens less than 800px */
@media (max-width: 900px) {
  .navMiddle, .navLeft {

    display: none;
  }

  .burger_menu{
    display: flex;
  }
  .burger_menu {
    width: 90%;
  }
 

}


