.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 105px; /* Adjust this value */
  margin-bottom: 100px;
}

.xs {
  max-width: 600px;
}

.sm {
  max-width: 900px;
}

.md {
  max-width: 1200px;
}

.lg {
  max-width: 1200px;
}

.xl {
  max-width: 1536px;
}

.link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 16px;
  transition: color 0.3s ease-in-out;
}